<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{%url 'agrautor'%}" method="post">
        {%csrf_token%}
        <input type="text" name="autor" id="" placeholder="Nombre del autor">
        <label for="">Fecha de Nacimiento</label>
        <input type="date" name="fecha" id="">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>