{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{%static 'imagen.jpeg'%}">
    <h1>Esta es mi pagina</h1>
    <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Nisi sint perspiciatis rerum 
        alias eos doloribus deserunt dolore 
        natus iure quam culpa quae, ullam 
        iusto, consequuntur architecto delectus 
        magni accusantium consequatur.</p>
</body>
</html>