{% extends 'base.html' %}
{% block titulo %} Formulario {% endblock %}
{% block contenido %}
    <form action="/add/" method="post">
        {% csrf_token %}
        <label for="id_nombre">Nombre</label>
        {{ form.nom }}
        
        <label for="id_carnet">Carnet</label>
        {{ form.car }}
        
        <label for="id_edad">Edad</label>
        {{ form.ed }}
        
        <label for="id_curso">Curso</label>
        {{ form.cur }}
        
        <button type="submit">Click</button>
    </form>
{% endblock %}
