{%extends 'base.html'%}
{%block titulo%} Index {%endblock%}
{%block contenido%}

    <h1>Lista de materias</h1>
    <a href="/add2/"><button type="button" class="btn btn-primary">
        Ingresar nueva materia
    </button></a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estudiantes</th>
            </tr>
        </thead>
        <tbody>
            {%for m in mat%}
            <tr>
                <td>{{m.nombre}}</td>
                <td>{% for estudiante in m.estds.all %}
                    {{ estudiante.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <h1>Lista de estudiantes</h1>
    <a href="/formest/"><button type="button" class="btn btn-primary">
        Ingresar nuevo estudiante
    </button></a>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Carnet</th>
                <th>Edad</th>
                <th>Curso</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {%for e in est%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{e.nombre}}</td>
                <td>{{e.carnet}}</td>
                <td>{{e.edad}}</td>
                <td>{{e.curso}}</td>
                <td>
                    <a href="/editar/{{e.id}}"><button type="button" class="btn btn-warning">Editar</button></a>
                    <a href="/borrar/{{e.id}}"><button type="button" class="btn btn-danger">Borrar</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{%endblock%}