<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esta es mi pagina</h1>
    <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Soluta eius corporis deleniti, 
        dolorem aperiam culpa voluptate 
        fuga omnis! Sequi veritatis animi 
        dignissimos itaque expedita culpa 
        reiciendis laborum voluptates quod 
        temporibus.</p>
</body>
</html>