{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block contenido %}
  <h1>{{title}}</h1>

  <form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        {{ form.nombre }}
    </div>
    
    <div class="mb-3">
        <label for="codigo" class="form-label">Código</label>
        {{ form.codigo }}
    </div>
    
    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        {{ form.edad }}
    </div>
    
    <div class="mb-3">
        <label for="carrera" class="form-label">Carrera</label>
        {{ form.carrera }}
    </div>
    
    <div class="mb-3">
        <label for="fingr" class="form-label">Fecha de ingreso</label>
        {{ form.fingr }}
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    
  </form>
  
   <button type="button" class="btn btn-warning">
    <a href="{% url 'index' %}">Regresar</a>
  </button>
{% endblock %}
