<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esta es mi pagina de inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur,
         adipisicing elit. Optio similique autem 
         veniam veritatis commodi ex labore, 
         exercitationem accusamus vitae, tenetur 
         nisi maxime, iste perspiciatis explicabo 
         tempora ipsum. Deserunt, fugit officia?</p>
</body>
</html>